USE [master]
GO
/****** Object:  Database [baza1]    Script Date: 08/08/2024 16:27:39 ******/
CREATE DATABASE [baza1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'baza1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2\MSSQL\DATA\baza1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'baza1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2\MSSQL\DATA\baza1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [baza1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [baza1]
GO
/****** Object:  Table [dbo].[Fakulteti]    Script Date: 08/08/2024 16:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fakulteti](
	[FakultetID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fakulteti] PRIMARY KEY CLUSTERED 
(
	[FakultetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studenti]    Script Date: 08/08/2024 16:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studenti](
	[ime] [nvarchar](10) NULL,
	[prezime] [nvarchar](10) NULL,
	[brojIndeksa] [varchar](10) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](15) NULL,
	[FakultetID] [int] NOT NULL,
 CONSTRAINT [PK_Studenti] PRIMARY KEY CLUSTERED 
(
	[brojIndeksa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Studenti]  WITH CHECK ADD  CONSTRAINT [FK_Student_Fakultet] FOREIGN KEY([FakultetID])
REFERENCES [dbo].[Fakulteti] ([FakultetID])
GO
ALTER TABLE [dbo].[Studenti] CHECK CONSTRAINT [FK_Student_Fakultet]
GO
USE [master]
GO
